QTreeView::branch:open:has-children {
    image: url(:/icons/caret-down-solid.svg);
    padding: 6px;
}

QTreeView::branch:closed:has-children {
    image: url(:/icons/caret-right-solid.svg);
    padding: 7px;
}

QTreeView::item:has-children {
    border-bottom: 1px solid #cccccc;
}

QTreeView {
    font-family: 'Selawik';
    padding: 4px;
    border: none;
}

QTreeView::item:hover {
    background-color: #eaecf0;
}

QHeaderView::section {
    color: #666666;
    background-color:  #fff;
    border-width: 0px 0px 2px;
    border-color: black;
    border-style: plain;
    font-size: 16px;
    font-family: 'Selawik';
    padding: 4px;
    margin-left: 10px;
}

QHeaderView::down-arrow {
    image: url(:/icons/caret-down-solid.svg);
    height: 12px;
    width: 12px;
    padding-bottom: 6px;
    subcontrol-position: left;
}

QHeaderView::up-arrow {
    image: url(:/icons/caret-up-solid.svg);
    height: 12px;
    width: 12px;
    padding-bottom: 6px;
    subcontrol-position: left;
}

QMenu {
    background-color: white;
    margin: 2px;
    font-family: 'Selawik';
}

QMenu::item {
    padding: 2px 25px 2px 20px;
    border-bottom: 1px solid #cccccc;
}

QMenu::item:selected {
    background-color: #cccccc;
}

QLineEdit {
    font-family: 'Selawik';
    padding: 4px;
    border: none;
    border-bottom: 1px solid #cccccc;
    color: #666666;
    font-size: 16px;
    height: 32px;
    line-height: 24px;
}
