html, body {
    padding: 0;
    margin: auto;
    height: 100%;
    position: relative;
    width: 75%;
    overflow: hidden;
}

#settings {
    height: 100%;
    position: relative;
}

#header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid grey;
    height: 40px;
}

#save-button {
    color: black;
    font-weight: bold;
    font-size: 14px;
    border: 1px solid black;
    background: transparent;
    border-radius: 2px;
    height: 20px;
}

#save-button:hover {
    color: white;
    background: black;
}

input {
    width: 80px;
    margin: 5px;
}

input[type=button] {
    width: 65px;
    color: blue;
    font-weight: bold;
    font-size: 14px;
    border: 0;
    background: transparent;
    border-radius: 2px;
}

input[type=button]:hover {
    color: white;
    background: blue;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
   opacity: 1;
}

div.percentage-symbol::after{
    content: "%";
    margin-left: -35px;
}