QLabel,
QPushButton {
    font: 12pt "Cantarell";
}

QLabel#settingsLabel {
    font: bold 32pt "Cantarell";
}
QSpinBox, QLabel#downloadDirPath{
    font: bold 12pt "Cantarell";
}
QPushButton {
    background-color: white;
    color: blue;
    padding: 5px;
    font:bold;
    border-radius: 3px;
}

QPushButton:hover {
    background-color: RoyalBlue;
    color: white;
}
