QWidget#widget {
    max-width: 600;
}

QLabel,
QPushButton,
QSpinBox {
    font-size: 16px;
    line-height: 24px;
}

QLabel,
QPushButton {
    padding: 12px 8px;
}

QFrame[frameShape="4"] {
    /*frameShape 4 is HLine */
    border: 1px solid #eaecf0;
    min-height: 0;
    max-height: 1pt;
}

QLabel#settingsLabel {
    font-size: 32px;
    line-height: 44px;
    font-weight: bold;
}
QSpinBox,
QLabel#downloadDirPath, #monitorDirPath {
    font: bold 12pt;
}
QPushButton {
    background-color: white;
    color: #3366cc;
    padding: 4px;
    font: bold;
    border-radius: 4px;
}

QPushButton:hover {
    background-color: #3366cc;
    color: white;
}

#monitorDirLabel {
    padding-right: 0;
}

#monitorHelp {
    padding: 1;
    margin: 0;
    background: #666666;
    color: white;
    border-radius: 2px;
    max-height: 18px;
    min-width: 14px;
    font: bold;
}
