#searcher {
    font-family: 'Selawik';
    padding: 4px;
    border: none;
    border-bottom: 1px solid #cccccc;
    color: #666666;
    font-size: 16px;
    height: 32px;
    line-height: 24px;
}

QScrollArea {
    border: 0;
}

#allFileButton, #localFileButton, #contentTypeButton {
    padding-left: 2px;
}

#allFileButton::indicator, #localFileButton::indicator, #contentTypeButton::indicator {
    height: 0;
    width: 0;
}
