QWidget {
    background-color: white;
}

QPushButton {
    opacity: 1;
    border: none;
    padding: 3px;
    color: RoyalBlue;
    outline: 0;
}

QPushButton:hover {
    color: rgba(65, 105, 225, 0.9);
}

QLineEdit {
    border: 2px solid gray;
    border-radius: 3px;
}
