QWidget {
    background-color: white;
}

QPushButton {
    opacity: 1;
    border: none;
    padding: 3px;
    color: RoyalBlue;
    outline: 0;
}

QPushButton:hover {
    color: rgba(65, 105, 225, 0.9);
}

QLineEdit {
    border: 1 solid #cccccc;
    padding: 2px;
}

QLabel {
    margin-left: 8px;
    margin-top: 4px;
}

#IpChooser {
    border-color: #cccccc;
}

#stackedWidget {
    margin-top: 8px;
    margin-bottom: 4px;
}

#KiwixServerButton {
    margin-right:8px;
}
