QTreeView {
    background-color: white;
    border: none;
    outline: none;
}

QTreeView::item {
    border: 1px solid transparent;
}

QTreeView::item:selected {
    border: 1px solid #3366CC;
    background-color: #D9E9FF;
    color: black;
}

QHeaderView {
    background-color: white;
}

QHeaderView::section {
    border: none;
    color: #3b3b3b;
    background-color: white;

    margin-top: 5px; /* XXX: duplicated in css_constants.h */
    padding: 5px 10px; /* XXX: duplicated in css_constants.h */

    font-size: 16px;
    line-height: 24px; /* XXX: duplicated in css_constants.h */
    font-weight: 400;
}

QScrollBar {
    width: 5px;
    border: none;
    outline: none;
}

QScrollBar::handle {
    background-color: grey;
}