QWidget {
    background-color: #EAECF0;
    color: #000000;
}


/* ------------------------------------
   The topBar
*/

TopWidget {
    min-height: 48px;
    max-height: 48px;
    margin: 0px;
    padding: 5px;
    border: none;
    border-bottom: 1px solid #ccc;
}

TopWidget::separator {
    background: none;
    border: none;
    width: 40px;
}

QToolButton {
    background: none;
    height: 40px;
    width: 40px;
    border: none;
}

SearchBar {
    background-color: white;
    padding: 2px 2px 2px 40px;
    max-height: 38px;
    margin: 2px 5px 2px 5px;
    color: #666;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

SearchBar > QPushButton {
    margin: 8px 0px 8px 12px;
    padding: 0px;
    border: 0px solid #fff;
    background-color: white;
    height: 32px;
    width: 32px;
}

/* ----------------------------------------
   Menu
*/

TopWidget QToolButton:pressed,
TopWidget QToolButton::hover {
    border: 1px solid #3366CC;
    background-color: #D9E9FF;
    border-radius: 3px;
}

TopWidget QToolButton::menu-button {
    width: 100%;
    background: rgba(0, 0, 0, 0);
}

TopWidget QToolButton::menu-arrow {
    image: none;
}

TopWidget QToolButton#backButton {
    margin-left: 6px;
}


TopWidget QToolButton#fullScreenButton {
    margin-right: 6px;
}

QMenu {
    border: none;
    min-width: 320px;
}

QMenu::item {
    min-width: 320px;
    min-height: 40px;
    max-height: 40px;
    border: 1px solid transparent;
    padding: 2px 12px 2px 40px;
}

QMenu::icon {
    min-width: 40px;
    min-height: 40px;
}

QMenu::item:selected {
    background-color: #D9E9FF;
    border: 1px solid #3366CC;
}

QMenu::indicator {
    color: #666666;
    width: 13px;
    height: 13px;
}

/* -----------------------------------------
    TabWidget
*/

QTabBar {
    font-size: 16px;
    icon-size: 24px;
    border-bottom: 1px solid #ccc;
}

QTabBar::tear {
     background-color: blue;
}

QTabWidget::pane {
    top: -2px;
    border: none;
    border-top: 1px solid #ccc;
}

QTabBar::tab {
    border: none;
    border-right: 1px solid #ccc;
    border-radius: 0px;
    padding: 2px;
}

QTabBar::tab:selected {
    /* please keep it in sync with 'selected_tab_bg_color' in src/tabbar.cpp */
    background-color: white;

    border-bottom: 2px solid white;
}

QTabBar::tab:first {
    padding-top: 6px;
    padding-left: 5px;
}

QTabBar::tab:last {
    border: none;
}

QTabBar::tab:last QToolButton {
    font-size: 30px;
    width: 30px; min-width: 30px; max-width: 30px;
    height: 30px; min-height:30px; max-height:30px;
    border-radius: 3px;
}

QTabBar::tab:last QToolButton::hover {
    border: 1px solid #3366CC;
    background-color: #D9E9FF;
    border-radius: 3px;
}

/* -----------------------------------------
    TabWidget
*/

#aboutText {
    padding: 20px;
    background-color: white;
}

/* ----------------------------------------
    Find Search page
*/

#FindInPageBar {
    border-top: 1px solid #ccc;
}

#findEdit {
    background-color: white;
    padding: 2px;
    max-height: 36px;
    color: #666;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 0px;
}

#fNextButton,
#fPreviousButton,
#hideButton {
    outline: none;
    max-height: 36px;
    max-width: 36px;
    border: 1px solid #ccc;
    border-radius: 0px;
}

#fNextButton:pressed,
#fPreviousButton:pressed,
#hideButton:pressed {
    background-color: #D9E9FF;
    border: 1px solid #3366CC;
}

/* ----------------------------------------
    Find Search page
*/

#contentmanagerside QWidget {
   background-color: white;
   outline: none;
}

#contentmanagerside QRadioButton,
#contentmanagerside QCheckBox {
    padding: 10px;
}

#contentmanagerside QRadioButton:checked {
   border: none;
}

#contentmanagerside QRadioButton::indicator {
   image: none;
}

#contentmanagerside QCheckBox::indicator {
   image: none;
}

#contentmanagerside QListWidget {
    border: none;
    padding-left: 30px;
    show-decoration-selected: 0;
}

#contentTypeSelector QCheckBox {
    padding: 0;
}

#categorySelector QScrollBar,
#languageSelector QScrollBar,
#readinglistbar QScrollBar {
    width: 5px;
    border: none;
    outline: none;
}

#categorySelector QScrollBar::handle,
#languageSelector QScrollBar::handle,
#readinglistbar QScrollBar {
    background-color: grey;
}

#categorySelector::item:selected,
#languageSelector::item:selected {
    background-color: white;
    color: black;
    outline: none;
}

#contentTypeAllButton,
ContentTypeFilter {
    spacing: 10;
}

#readinglistbar QLabel {
    font-size: 24px;
    font: bold;
    padding: 5px;
}

#readinglistbar QListWidget {
    show-decoration-selected: 0;
    border: none;
    padding: 5px;
}

#readinglistbar QListWidget::item {
    font-size: 16px;
    margin-bottom: 10px;
}
