QWidget {
    background-color: #EAECF0;
}


/* ------------------------------------
   The topBar
*/

TopWidget {
    min-height: 48px;
    max-height: 48px;
    margin: 0px;
    padding: 0px;
    border: none;
    border-bottom: 2px solid #ccc;
}

TopWidget::separator {
    background: none;
    border: none;
    icon: none;
    width: 40px;
}

QToolButton {
    background: none;
    height: 40px;
    width: 40px;
    border: none;
}

SearchBar {
    background-color: white;
    padding: 2px 2px 2px 40px;
    max-height: 40px;
    margin: 5px;
    color: #666;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 5px;
}

SearchBar > QPushButton {
    margin: 8px;
    padding: 0px;
    border: 0px solid #fff;
    background-color: white;
    height: 30px;
    width: 30px;
}

/* ----------------------------------------
   Menu
*/

TopWidget QToolButton:pressed,
TopWidget QToolButton::hover {
    border: 1px solid #3366CC;
    background-color: #D9E9FF;
    border-radius: 2px;
}

TopWidget QToolButton::menu-button {
    width: 100%;
    background: rgba(0, 0, 0, 0);
}

TopWidget QToolButton::menu-arrow {
    image: none;
}

QMenu {
    border: none;
    min-width: 320px;
}

QMenu::item {
    min-width: 320px;
    min-height: 40px;
    max-height: 40px;
    border: 1px solid transparent;
    padding: 2px 12px 2px 40px;
}

QMenu::icon {
    min-width: 40px;
    min-height: 40px;
}

QMenu::item:selected {
    background-color: #D9E9FF;
    border: 1px solid #3366CC;
}

QMenu::indicator {
    color: #666666;
    width: 13px;
    height: 13px;
}

/* -----------------------------------------
    TabWidget
*/

QTabBar {
    font-size: 16px;
    icon-size: 24px;
}

QTabBar::tear {
     background-color: blue;
}

QTabWidget::pane {
    top: -2px;
    border: none;
    border-top: 2px solid #ccc;
}

QTabBar::tab {
    border: none;
    border-right: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
    border-radius: 0px;
    padding: 2px;
}

QTabBar::tab:selected {
    background-color: white;
    border-bottom: 2px solid white;
}

QTabBar::close-button {
    image: url(":/icons/close.svg");
    subcontrol-position: right;
}


/* -----------------------------------------
    TabWidget
*/

#aboutText {
    padding: 20px;
    background-color: white;
}

/* ----------------------------------------
    Find Search page
*/

#findEdit {
    background-color: white;
    padding: 2px;
    max-height: 36px;
    color: #666;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 0px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

#fNextButton,
#fPreviousButton {
    max-height: 36px;
    max-width: 36px;
    border: 2px solid #ccc;
    border-radius: 0px;
    margin-left: -2px;
}

#fNextButton:pressed,
#fPreviousButton:pressed {
    background-color: #D9E9FF;
    border: 2px solid #3366CC;
}

#fPreviousButton {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

/* ----------------------------------------
    Find Search page
*/

#sideBar {
   background-color: white;
}

#contentmanagerside QWidget,
#readinglistbar QWidget{
   background-color: white;
   outline: none;
}

#contentmanagerside QRadioButton:checked {
   border: none;
}

#contentmanagerside QRadioButton::indicator {
   image: none;
}

#contentmanagerside QCheckBox::indicator {
   image: none;
}

#contentmanagerside QListWidget {
    border: none;
    padding-left: 30px;
    show-decoration-selected: 0;
}

#languageSelector QScrollBar {
    width: 5px;
    border: none;
    outline: none;
}

#languageSelector QScrollBar::handle {
    background-color: grey;
}

#languageSelector::item:selected {
    background-color: white;
    color: black;
    outline: none;
}

#readinglistbar QListWidget {
   border: none;
}

#readinglistbar QListWidget::item {
    font-size: 16px;
    margin-bottom: 5px;
}
