Source: kiwix
Section: misc
Priority: optional
Maintainer: Kiwix team <kiwix@kiwix.org>
Build-Depends: debhelper-compat (= 13),
 pkg-config,
 qt6-base-dev,
 qt6-svg-dev,
 qt6-webengine-dev,
 qt6-speech-dev,
 libkiwix-dev (>= 14.0), libkiwix-dev (<< 15.0),
 libzim-dev (>= 9.0), libzim-dev (<< 10.0),
Standards-Version: 4.5.0
Homepage: https://www.kiwix.org/
Rules-Requires-Root: no

Package: kiwix
Architecture: any
Depends: ${shlibs:Depends},
 ${misc:Depends}
Description: offline Wikipedia reader
 Kiwix is an offline reader and manager for online content
 like Wikipedia, Project Gutenberg, or TED Talks.
 Kiwix allows you to read and search through offline content
 as they were online. Similar to a browser, Kiwix works with
 the highly compressed ZIM file format.
 .
 Features:
   * Pure ZIM file reader
   * Case and diacritics insensitive full text search engine
   * Bookmarks & Notes
   * ZIM base HTTP server
   * PDF/HTML export
   * Localized
   * Search suggestions
   * ZIM file Index capacity
   * Tabs navigation
