name: CI

on: [push]

jobs:
  Linux:
    strategy:
      fail-fast: false
      matrix:
        target:
          - bionic
        include:
          - target: bionic
            image_variant: bionic
            lib_postfix: '/x86_64-linux-gnu'
    env:
      HOME: /home/runner
    runs-on: ubuntu-latest
    container:
      image: kiwix/kiwix-build_ci:bionic-31
    steps:
    - name: Extract branch name
      shell: bash
      run: echo "##[set-output name=branch;]$(echo ${GITHUB_REF#refs/heads/})"
      id: extract_branch
    - name: Checkout code
      shell: python
      run: |
        from subprocess import check_call
        from os import environ
        command = [
          'git', 'clone',
          'https://github.com/${{github.repository}}',
          '--depth=1',
          '--branch', '${{steps.extract_branch.outputs.branch}}'
        ]
        check_call(command, cwd=environ['HOME'])
    - name: Install deps
      shell: bash
      run: |
        ARCHIVE_NAME=deps2_bionic_native_dyn_kiwix-desktop.tar.xz
        wget -O- http://tmp.kiwix.org/ci/${ARCHIVE_NAME} | tar -xJ -C /home/runner
    - name: Compile
      shell: bash
      run: |
        cd $HOME/kiwix-desktop
        qmake PREFIX=$HOME/BUILD_native_dyn/INSTALL
        make
      env:
        PKG_CONFIG_PATH: "/home/runner/BUILD_native_dyn/INSTALL/lib/pkgconfig:/home/runner/BUILD_native_dyn/INSTALL/lib${{matrix.lib_postfix}}/pkgconfig"
